html, body	{
	background-image:url(img/pagebgr.jpg);
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v2/y7lebkjgREBJK96VQi37ZrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v2/dazS1PrQQuCxC3iOAJFEJRbnBKKEOwRKgsHDreGcocg.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(http://themes.googleusercontent.com/static/fonts/oswald/v7/qs_6LdoYjCitupC9judWT-vvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

@font-face {
    font-family: 'BebasNeue';
    src: url('fonts/BebasNeue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#header-wrapper	{
	width:100%;
	margin-bottom: 40px;
	background-image:url(img/bgr_header.jpg);
	background-position: 50% -80px;
	background-repeat:no-repeat;
}

#header	{
	width:640px;
	margin:0px auto;
	text-align: center;
}

#header #caption {
	text-align: center;
	font-size: 20px;
	font-family: "Oswald";
	margin-top:-10px;
}

#header #pointer {
	width:600px;
	height:20px;
	margin: 0 auto;
	background: url(img/pointer.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	transition: background-position 0.3s;
}

#header #summary {
	width:600px;
	height:100px;
	margin: 0 auto;
}

#header #summary p {
	font-size: 14px;
	font-family: "Roboto";
	color: #111;
	text-align: center;
	padding: 10px;
	background: #FFF;
	border-radius:10px;
	border-bottom: 10px solid #DDD;
}

#logo {
	width: 300px;
	margin:0px auto;
	padding-top:40px;
}

#logo img {
	max-width: 100%;
}

#header #appstore {
	margin: 0 auto;
	margin-top: -40px;
	width: 520px;
	text-align: right;
}

/*IPHONE FRAME FOR YOUTUBE VIDEO
source: http://stackoverflow.com/a/12121309/142317 */

#iphone-frame {
 background-image: url(img/iphone31.png);
 background-repeat: no-repeat;
 background-size: 100%;
 width:600px;
 margin:0px auto;
 margin-top:0px;
 margin-bottom: 0;
 display: inline-block;
 position: relative;
}

#iphone-frame:after {
    padding-top: 55.86%; /* height/width */
    display: block;
    content: '';
}

#iphone-screen {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0; /*fill parent*/
padding-left: 14.41%;
padding-right: 13.51%;
padding-top: 2.96%;
padding-bottom: 11.84%;
}

#thumbnails {
	width: 600px;
	margin: 0 auto;
	margin-top:-40px;
}

#thumbnails:after {
	content: '';
	clear: both;
	display: block;
}

.thumbnail {
	cursor: pointer;
	position: relative;
	border: 5px solid rgba(0,0,0,0);
	width: 140px;
	height: 79px;
	float: left;
	margin: 0px;
	background-size: cover,cover;
	background-repeat: no-repeat, no-repeat;
	background-clip: padding-box,padding-box;
	background-position: 0 -40px, 0 0;
	border-radius: 3px;
	-webkit-filter: grayscale(100%);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
	opacity: 0.3;
	transition: background-position 0.2s ease-in;
}

.thumbnail:hover {
	-webkit-filter: none;
	filter: none;
	opacity: 1;
	background-position: 0 0, 0 0;
}

.thumbnail-active {
	border-color: rgba(0,0,0,0.75);
	-webkit-filter: none;
	filter: none;
	opacity: 1;
	background-position: 0 0, 0 0;
}

#preview1 {
	background-image: url(img/preview1txt.png), url(img/preview1.png);
}
#preview2 {
	background-image: url(img/preview2txt.png), url(img/preview2.png);
}
#preview3 {
	background-image: url(img/preview3txt.png), url(img/preview3.png);
}
#preview4 {
	background-image: url(img/preview4txt.png), url(img/preview4.png);
}

#question-wrapper {
	width: 100%;
	background: #DDD;
	height: 140px;
	line-height: 140px;
	text-align: center;
	font-family: "BebasNeue";
	font-size: 30px;
	color: #555;
	transition: background-color 1s;
	cursor: pointer;
}

#question-wrapper:hover {
	background-color: #FFF;
}

#question-wrapper img {
	vertical-align: middle;
	margin-right: 10px;
}

#question-wrapper em {
	text-decoration: none;
	font-style: normal;
	color: #AA4B69;
}

#learn-wrapper {
	width: 100%;
	height: 0px;
	overflow: hidden;
	position: relative;
	opacity: 0;
	transition: height 1s, opacity 1s;
}

#learn-wrapper #nav {
	position: absolute;
	top: 0;
	left: 0;
	margin: 20px 0;
	border-radius: 5px;
	background-color: #EEE;
	border: 5px solid #EEE;
	font-family: "Roboto", sans-serif;
	line-height: 1.5em;
	padding-left: 40px;
	padding-right: 10px;
	padding-bottom: 20px;
}

#learn-wrapper #nav li {
	margin-left: 20px;
	color: #555;
	cursor: pointer;
}

#learn-wrapper #nav h2 {
	margin-top: 15px;
	color: #AAA;
	text-transform: uppercase;
}

#learn-wrapper #content {
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 100px;
	width: 640px;
	font-family: "Roboto";
}

#learn-wrapper #content h1 {
	font-family: "Roboto Slab";
	font-size: 24px;
	font-weight: bold;
}
#learn-wrapper #content h2 {
	font-family: "Roboto Slab";
	font-size: 22px;
	font-weight: bold;
}
#learn-wrapper #content h3 {
	font-family: "Roboto Slab";
	font-size: 20px;
	font-weight: bold;
}
#learn-wrapper #content h4 {
	font-family: "Roboto Slab";
	font-size: 18px;
	font-weight: bold;
}
#learn-wrapper #content h5 {
	font-family: "Roboto Slab";
	font-size: 16px;
	font-weight: bold;
}

#learn-wrapper #content p {
	margin: 0;
	margin-bottom: 20px;
	color: #333;
}

#learn-wrapper #content ul {
	margin-bottom: 20px;
	color: #333;
}

#learn-wrapper #content li {
	list-style-type: disc;
	margin-left: 20px;
}

#learn-wrapper #content img {
	max-width: 100%;
}

#learn-wrapper #content a {
	text-decoration: none;
	color: #AA4B69;
}

@media (max-width: 1028px) {
	#learn-wrapper #content {
		margin-left: 200px;
	}
}

#learn-wrapper #intro {
	text-align: center;
	font-family: "BebasNeue";
	font-size: 50px;
	color: #555;
}

#learn-wrapper #intro p {
	margin-bottom: 10px;
}

#footer-wrapper {
	font-family: "Roboto Slab";
	width: 100%;
	background-color: #333;
	color: #555;
}


#footer-wrapper {
	font-family: "Roboto Slab";
	width: 100%;
	background-color: #333;
	color: #555;
}

#footer-wrapper #footer {
	width: 640px;
	height: 120px;
	line-height: 120px;
	margin: 0 auto;
	text-align: center;
}

#footer-wrapper #footer a {
	color: #888;
	text-decoration: none;
}

#footer-wrapper #footer a:hover {
	color: #EEE;
}

#footer-wrapper #footer img {
	vertical-align: middle;
}

#footer .inline {
	display: inline-block;
	margin: 0 2px;
}
#footer .inline .sep {
	display: inline-block;
	margin: 0;
	padding: 0;
}

#copyright {
	width: 100%;
	height: 60px;
	line-height: 60px;
	font-family: "Roboto";
	text-align: center;
	color: #999;
}

#octopus {
	background: url(img/octopus.png);
	background-repeat: no-repeat;
	background-position: 50% 120px;
	transition: background-position 0.2s ease-in;
}

#octopus:hover {
	background-position: 50% 80px;
}

#hygoon {
	background: url(img/peek.png);
	background-repeat: no-repeat;
	background-position: 50% 120px;
	transition: background-position 0.2s ease-in;
}

#hygoon:hover {
	background-position: 50% 60px;
}


